/* Navbar */
.navbar{
    background: $blueDark;
    .navbar-brand{
        font-weight: 600;
    }
    .navbar-nav{

        .dropdown-menu{
            margin-top: 10px;
            .dropdown-item{
                i{
                    margin-right: 5px;
                }
            }
        }
    }
}
/* End of Navbar */
